TOPIC: String Based Assignment Problem







Q1:- Write a program to reverse a string.

In [75]:
string = str(input("Enter a string"))

print(string)

reverse = string[::-1]
print(reverse)

Enter a string Ketan Sharma

Ketan Sharma
amrahS nateK

Q2:- . Check if a string is a palindrome.

In [37]:
string = str(input("Enter a string: "))
if(string[0:]==string[::-1]):
    print("This string is palindrome ",string)
else:
    print("It is not a palindrome string")

Enter a string:  civic

This string is palindrome  civic

Q3:- Convert a string to uppercase.

In [11]:
string = str(input("Enter a string: "))

upper = string.upper()
print(upper)

Enter a string:  ketan sharma

KETAN SHARMA

Q4:- Convert a string to lowercase.

In [12]:
string = str(input("Enter a string:"))

lower = string.lower()

print(lower)

Enter a string: PW SKILLS

pw skills

Q5:- Count the number of vowels in a string.

In [38]:
string = str(input("Enter a string:"))
a = string.count("a")
e = string.count("e")
i = string.count("i")
o = string.count("o")
u = string.count("u")

print("the number of a is ",a)
print("the number of e is ",e)
print("the number of i is ",i)
print("the number of o is ",o)
print("the number of u is ",u)

Enter a string: Hey whatsupp

the number of a is  1
the number of e is  1
the number of i is  0
the number of o is  0
the number of u is  1

Q6:- Count the number of consonants in a string.

In [39]:
string = str(input("Enter a string: "))
vowels = ['a','e','i','o','u','A','E','I','O','U']
consonant = 0 
for i in string:
    if i not in vowels:
        consonant = consonant+1
        
print("The number of consonants in a string are:-",consonant)

Enter a string:  yo yo

The number of consonants in a string are:- 4

Q7:- Remove all whitespaces from a string.

In [40]:
string = str(input("Enter a String: "))

for i in range(0,len(string)):
    spaces = string.replace(" ","")   # sir I have done this because I have been taught for loop i our class.
    i = i+1
print(spaces)

Enter a String:  Pw skills

Pwskills

Q8:- Find the length of a string without using the `len()` function.

In [41]:
string = str(input("Enter a string: "))

count = 0 
for i in string:
    count = count+1
    
print(count)

Enter a string:  hey

3

Q9:- Check if a string contains a specific word.

In [43]:
string = str(input("Enter a string: "))

if("yo whatsupp" in string):
    print("the string contains the specific word")
else:
    print("the string doesn't contains the specific word")

Enter a string:  yo whatsupp pwskills

the string contains the specific word

Q10:- . Replace a word in a string with another word

In [44]:
string = str(input("Enter a string: "))

string = string.replace("thank you ","welcome ")
print(string)

Enter a string:  thank you ketan

welcome ketan

Q11:- Count the occurrences of a word in a string

In [45]:
string = str(input("Enter a string: "))

string = string.count("will")

print(string)

Enter a string:  will i have to do this work

1

Q12:-Find the first occurrence of a word in a string.

In [47]:
string = str(input("Enter any string"))
find = string.find("will")
if(0 == find):
    occurence = string.count("will")
    print(occurence)
else: 
    print("this has not the same first occurence of a word ")

Enter any string will do this work ?

1

Q13:- Find the last occurrence of a word in a string.

In [48]:
string = str("hey bro bye bye bye")
ends = string.endswith("bye")
if(ends == True):
    occurence = string.count("bye")
    print(occurence)
else:
    print("this  not the last occurence of a word")

3

Q14:- . Split a string into a list of words.

In [49]:
string = str(input("Enter a string: "))

string = string.split()

print("Now your string will be converted into the list",string)

Enter a string:  Ketan Sharma

Now your string will be converted into the list ['Ketan', 'Sharma']

Q15:- Join a list of words into a string.

In [50]:
list1 = ["hello ","what is your name"]
string = str(input("Enter a string: "))
print(string,"".join(list1))

Enter a string:  Ketan Sharma

Ketan Sharma hello what is your name

Q16:- Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [51]:
string = str(input("Enter a string: "))

string = string.replace(" ","_")

print(string)

Enter a string:  sharma ketan is my insta id

sharma_ketan_is_my_insta_id

Q17:- Check if a string starts with a specific word or phrase

In [52]:
string = str(input("Enter a string: "))
string = string[0:2]

if(string== "hi"): # hi is the specific word here.
    print("the string start with a specific word")
else:
    print("The string does not start with a specific word")

Enter a string:  hi bro

the string start with a specific word

Q18:- Check if a string ends with a specific word or phrase

In [53]:
string = str(input("Enter a string: "))
ends = string.endswith("bye")
                             # bye is the specific word 
if(ends==True):
    print("yes the string ends with a specific word ")
else:
    print("NO the string ends with a specific word")

Enter a string:  pwskills bye

yes the string ends with a specific word

Q19:- Convert a string to title case (e.g., "hello world" to "Hello World")

In [55]:
string = str(input("Enter a string: "))
string = string.title()

print(string)

Enter a string:  hello world

Hello World

Q20:- Find the longest word in a string

In [1]:
string = str("hey whatsupp")
hey = len("hey")
whatsupp = len("whatsupp")
if(hey> whatsupp):
    print("hey is the longest word in a string ")
else:
    print("whatsupp is the longest string")

whatsupp is the longest string

Q21:- Find the shortest word in a string.

In [2]:
tring = str("hey whatsupp")
hey = len("hey")
whatsupp = len("whatsupp")
if(hey< whatsupp):
    print("hey is the shortest word in a string ")
else:
    print("whatsupp is the shortest string")

hey is the shortest word in a string

Q22:- Reverse the order of words in a string.

In [8]:
string = str(input("Enter a string: "))
print(string)

word = str(input("Enter the word that you want to reverse: "))
reverse = word[::-1]
string1 = string.replace(word,reverse)
print("The new string is ==> ", string1)

Enter a string:  hey pw

hey pw

Enter the word that you want to reverse:  pw

The new string is ==>  hey wp

Q23:- Check if a string is alphanumeric.

In [9]:
string = str(input("Enter a string: "))
string = string.isalnum()
if(string == True):
    print("Entered string is alphanumeric ")
else: 
    print("Entered string is not alphanumeric ")

Enter a string:  keyan12345

Entered string is alphanumeric

 Q24:- Extract all digits from a string.

In [10]:
string = str(input("Enter a string: "))
string = string.isnumeric()
print(string)

Enter a string:  hi568

False

Q25:- Extract all alphabets from a string.

In [12]:
string = str(input("Enter a string here:-"))
numbers = ["0","1","2","3","4","5","6","7","8","9"]
for i in string:
    if i not in numbers:
        print(i,end="")

Enter a string here:- ketan 23443

ketan

Q26:- Count the number of uppercase letters in a string.

In [13]:
string = str(input("Enter a string here"))
upper = 0
for i in string:
    if i == i.title():
        upper =  upper+1
        if i ==" ":
            upper = upper-1

        
print("The number of upper case letters in a string are:-",upper)

Enter a string here Ketan Sharma IS MY NAME

The number of upper case letters in a string are:- 10

Q27:- Count the number of lowercase letters in a string.

In [15]:
string = str(input("Enter a string here"))
lower = 0
for i in string:
    if i == i.lower():
        lower =  lower+1
        if i ==" ":
            lower = lower-1

        
print("The number of lower case letters in a string are:-",lower)

Enter a string here yo yo

The number of lower case letters in a string are:- 4

Q28:- Swap the case of each character in a string.

In [17]:
string = str(input("Enter a string: "))

swap = string.swapcase()
print(swap)

Enter a string:  Hey

hEY

Q29:- Remove a specific word from a string.

In [18]:
string = str(input("Enter a string: "))

string = string.replace("good","")

print(string)

Enter a string:  good to see you

 to see you

Q30:- Check if a string is a valid email address

In [20]:
string = str(input("Enter your Email address:-  "))
string = string.replace(" ","")
length = string[-1:-11:-1]
rev = string[-1:-12:-1] 
if(rev =='moc.liamg@.'):
    print("The entered Email address is not Valid ", )
elif(length== "moc.liamg@"):
        print("The entered Email address is Valid ")
else:
    print("The entered Email address is not Valid ")

Enter your Email address:-   sharma@gmail.com

The entered Email address is Valid

Q31:- Extract the username from an email address string.

In [21]:
string = str(input("Enter your Email address:-  "))
string = string.replace(" ","")
length = string[-1:-11:-1]
rev = string[-1:-12:-1] 
if(rev =='moc.liamg@.'):
    print("The entered Email address is not Valid ", )
elif(length== "moc.liamg@"):
        print("The entered Email address is Valid ")
        print()
else:
    print("The entered Email address is not Valid ")

Enter your Email address:-   sharmaketan1234@gmail.com

The entered Email address is Valid

Q32:- Extract the domain name from an email address string.

In [22]:
string = str(input("Enter an Email Address: "))
string = string.replace(" ","")
string = string[string.index("@")+1:]
print("Domain of the Email address is :- ", string)

Enter an Email Address:  ketan@gmail.com

Domain of the Email address is :-  gmail.com

Q33:-Replace multiple spaces in a string with a single space.

Enter a string here:- hey

Q34:- Check if a string is a valid URL.

In [24]:
string = str(input("Enter an URL :- "))
end = string[string.index(".com"):]##https//:www.google.com like this is a correct URL 
start = string[0:12]
if(start =="https//:www."):
    if(end== ".com"):
        print("The String is a Valid URL:- ",string )
else:
    print("The String is not a Valid URL:- ")

Enter an URL :-  https//:www.ketansharma.com

The String is a Valid URL:-  https//:www.ketansharma.com

Q35:-Extract the protocol (http or https) from a URL string.

In [25]:
string = str(input("Enter an URL string:- "))
if string[0:4] == "http" or string[0:5] == "https":
    print("http")

Enter an URL string:-  https//:google.com

http

Q36:-Find the frequency of each character in a string.

In [34]:
string = str(input("Enter a string here:- "))
l = string.split()
d ={}
for i in l:
    if i not in d.keys():
        d[i] = 0
    d[i] +=1

print(d)

Enter a string here:-  Hi Hi pw skills

{'Hi': 2, 'pw': 1, 'skills': 1}

Q37:- Remove all punctuation from a string.

In [30]:
string = str(input("Enter a string:- "))

l1 = [".","?","!",",",":",";","-","[]","{}","‘","“"]

for i in string:
    if i in l1:
        res = i.replace(i,'')
        
print(res)

Enter a string:-  hey..

Q38:- Check if a string contains only digits.

In [31]:
string = str(input("Enter any string:- "))
string = string.isdigit()
if (string==True):
    print("The string contains only numbers ")
else:
    print("The string has some aplhabets and numbers ")

Enter any string:-  123434

The string contains only numbers

Q39:- Check if a string contains only alphabets.

In [33]:
string = str(input("Enter any string:- "))
upper = string.isupper()
upper = string.isalpha()
if (upper==True):
    print("The string contains only alphabets ")
else:
    print("The string has some aplhabets and numbers ")

Enter any string:-  Hey1232

The string has some aplhabets and numbers

Q40:- Convert a string to a list of characters.

In [65]:
string = str(input("Enter a String:- "))
string = list(string)
print(string)

Enter a String:-  yo yo

['y', 'o', ' ', 'y', 'o', ' ']

Q41:- Check if two strings are anagrams.

In [64]:
string1 = str(input("Enter a string1:- "))
string2 = str(input("Enter a string2:- "))

if (sorted(string1)==sorted(string2)):
    print("The two strings are anagrams ")
else:
    print("The two string are not anagrams")

Enter a string1:-  hey
Enter a string2:-  yeh

The two string are not anagrams

Q42:- Encode a string using a Caesar cipher.

Q43:- Decode a Caesar cipher encoded string.

Q44:- Find the most frequent word in a string

In [62]:
string = str(input("Enter a string here:- "))
l = string.split()
d ={}
for i in l:
    if i not in d.keys():
        d[i] = 0
    d[i] +=1

print(d)

Enter a string here:-  hello hello whatsupp pw skills

{'hello': 2, 'whatsupp': 1, 'pw': 1, 'skills': 1}

Q45:- Find all unique words in a string.

In [60]:
string = str(input("Enter the string here:- "))
print("Entered string here is :-",string )
l = string.split()
result = set(l)
string = str(result)
print("The Unique Words in a string:- ",string)

Enter the string here:-  yo yo honey singh

Entered string here is :- yo yo honey singh
The Unique Words in a string:-  {'honey', 'singh', 'yo'}

Q46:- Count the number of syllables in a string.

Q47:- Check if a string contains any special characters.

In [58]:
user_string = str(input("Enter a string here:- "))
special_character = ["!","@","$","#","%","^","&","*","()","-","_",".",":",";"]
special = 0 
l = list(user_string)
for i in l :
    if i in special_character:
        special +=1
    
print("Yes this string contains",special,"characters" )

Enter a string here:-  Ketan@12344

Yes this string contains 1 characters

Q48:- Remove the nth word from a string.

In [57]:
user_string = str(input("Enter a string here:- "))
print(user_string)
l = user_string.split()
index = int(input("Enter the index of the word that you want to remove:- "))
for i in l:
    l.pop(index)

l = "".join(l)
print("Now the new string is here:-",l)

Enter a string here:-  Pw skills

Pw skills

Enter the index of the word that you want to remove:-  1

Now the new string is here:- Pw

Q49:- Insert a word at the nth position in a string.

In [56]:
user_string = str(input("Enter a string here:- "))
print(user_string)
l = user_string.split()
l1 = []
index = int(input("Enter the index of the word that you want to add:- "))
insert = str(input("Enter the word that you want to insert in the string:-"))
for i in l:
    l1.append(i)
    l1.insert(index, insert)
l1 =' '.join(l1)
print(l1)

Enter a string here:-  ketan sharma

ketan sharma

Enter the index of the word that you want to add:-  2
Enter the word that you want to insert in the string:- is my name

ketan is my name is my name sharma

Q50:- Convert a CSV string to a list of lists.

TOPIC:- List Based Practice Problem :


    
    

Q1:- Create a list with integers from 1 to 10.

In [13]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Q2:- Find the length of a list without using the `len()` function.

In [14]:
#Take a list 
l1 = [1,2,3,4,5,6,7,8,9,10]
count = 0

for i in l1:
    count = count+1
    
print("The lenght of a list is ",count)

The lenght of a list is  10

Q3:- Append an element to the end of a list

In [ ]:
l1 = list(input("Enter a list:- "))
app = str(input("Enter a element that you want to append:-"))
l2 = l1.append(app)
print(l1)

Enter a list:-  12345678
Enter a element that you want to append:- 154

['1', '2', '3', '4', '5', '6', '7', '8', '154']

Q4:- Insert an element at a specific index in a list

In [20]:
l1 = list(input("Enter a list:-  "))
index = int(input("Enter the specific index:- "))
value = str(input("Enter the value that you want to insert in the list:- "))
l2 = l1.insert(index,value)

print(l1)

Enter a list:-   565656
Enter the specific index:-  1
Enter the value that you want to insert in the list:-  4546

['5', '4546', '6', '5', '6', '5', '6']

Q5:- Remove an element from a list by its value.

In [22]:
l1 = list(input("Enter a list:-  "))
value = str(input("Enter the value that you want to remove from list:- "))
l2 = l1.remove(value)

print(l1)

Enter a list:-   21233213454
Enter the value that you want to remove from list:-  1

['2', '2', '3', '3', '2', '1', '3', '4', '5', '4']

Q6:-Remove an element from a list by its index.

In [25]:
l1 = list(input("Enter a list:-  "))
index = int(input("Enter the specific index:- "))
l2 = l1.pop(index)

print(l1)

Enter a list:-   155645464
Enter the specific index:-  5

['1', '5', '5', '6', '4', '4', '6', '4']

Q7:- Check if an element exists in a list.

In [26]:
l1 = [1,2,3,4,5,6,7,8,4,1,6,6,10]
check = int(input("Enter the element that exists in a list:- "))
for i in l1:
    if check in l1:
        print("The element that exists in a list")
        break
    else:
        print("The element does not exists in a list")
        break

Enter the element that exists in a list:-  1

The element that exists in a list

Q8:- Find the index of the first occurrence of an element in a list.

In [27]:
l1 = [1,2,3,45,6,4,8,1,54,64,54164,21,5,44,54631,4,5,7,1,0,1,2,1,6,1,3,4556,5,1,4,45,56456,56]
occurence = 2
index = 0 
for i in l1:
    if occurence in l1:
        index = index+1
print("The first occurence of an element in a list", index)

The first occurence of an element in a list 33

Q9:- Count the occurrences of an element in a list.

In [29]:
l1 = [1,2,3,4,5,6,7,8,5,5,10,11,12,12,13]
element = int(input("Enter the element to check the occurrence of an element"))
count = 0
for i in l1:
    if i == element:
        count = count+1
        
        
print(element,"Occured in a list is :-",count)

Enter the element to check the occurrence of an element 2

2 Occured in a list is :- 1

Q10:- Reverse the order of elements in a list.

In [30]:
l1 = [1,2,3,4,5,67,8,8,8,9,9,9455,6,67,89,45455,677]
rev = l1.reverse()
print(l1)

[677, 45455, 89, 67, 6, 9455, 9, 9, 8, 8, 8, 67, 5, 4, 3, 2, 1]

Q11:- Sort a list in ascending order.

In [31]:
l1 =[1,2,3,4,5,67,8,8,8,9,9,9455,6,67,89,45455,677]
sort = l1.sort() # for sorting list in ascending order.
print(l1)

[1, 2, 3, 4, 5, 6, 8, 8, 8, 9, 9, 67, 67, 89, 677, 9455, 45455]

Q12:- Sort a list in descending order.

In [32]:
l1 =[1,2,3,4,5,67,8,8,8,9,9,9455,6,67,89,45455,677]

rev = l1.sort(reverse=True) # for sorting list in descending order.
print(l1)

[45455, 9455, 677, 89, 67, 67, 9, 9, 8, 8, 8, 6, 5, 4, 3, 2, 1]

Q13:- Create a list of even numbers from 1 to 20.

In [33]:
l1 = []
for i in range(0,21):
    if i%2 == 0:
        l1.append(i)
print(l1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Q14:- Create a list of odd numbers from 1 to 20.

In [34]:
l2 = []
for i in range(0,21):
    if i%2 !=0:
        l2.append(i)
print(l2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Q15:- Find the sum of all elements in a list.

In [35]:
l1 =[1,2,3,4,5,67,8,8,8,9,9,9455,6,67,89,45455,677]

sum_of_list = sum(l1)
print(sum_of_list)

55873

Q16:- Find the minimum value in a list.

In [36]:
l1 = [1,2,3,4,5,67,8,8,8,9,9,9455,6,67,89,45455,677]
l1.sort()
minimum_value = l1[0]
print(minimum_value)

1

Q17:- Find the maximum value in a list.

In [37]:
l1 = [1,2,3,4,5,67,8,8,8,9,9,9455,6,67,89,45455,677]
l1.sort(reverse = True)
maximum_value = l1[0]
print(maximum_value)

45455

Q18:- Create a list of squares of numbers from 1 to 10.

In [38]:
l2 = []
for i in range(1,11):
    square = i*i
    l2.append(square)
print(l2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q19:- Create a list of random numbers

In [39]:
import random
l2 = []
for i in range(random.randint(0,56)):
    l2.append(i)
print(l2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

Q20:- Remove duplicates from a list

In [40]:
list_1 = [1,2,3,4,5,67,8,8,8,9,9,9455,6,67,89,45455,677]
duplicate_remove = set(list_1)
print(list(duplicate_remove))

[1, 2, 3, 4, 5, 67, 6, 8, 9, 677, 9455, 45455, 89]

Q21:- Find the common elements between two lists.

In [43]:
l1 = [1,2,3,4,5,67,8,8,8,9,9,9455,6,67,89,45455,677]
l2 = [1,2,3,4,56,5,8,8,8,9,9,64546,5,5,544,5,1251,55]
common_elements = []
count = 0 
for i in l1:
    if i in l2:
        count = count+1
        common_elements.append(i)
print("The common elements between two lists are:-", count ,"and the List is ",common_elements)

The common elements between two lists are:- 10 and the List is  [1, 2, 3, 4, 5, 8, 8, 8, 9, 9]

Q22:- Find the difference between two lists.

In [44]:
l1 = [1,2,3,4,5,67,8,8,8,9,9,9455,6,67,89,45455,677]
l2 = [1,2,3,4,56,5,8,8,8,9,9,64546,5,5,544,5,1251,55]
l3 = []
for i in l1:
    if i not in l2:
        l3.append(i)
print("The difference between two lists is",l3)

The difference between two lists is [67, 9455, 6, 67, 89, 45455, 677]

Q23:- Merge two lists.

In [45]:
l1 = [1,2,3,4,5,67,8,8,8,9,9,9455,6,67,89,45455,677]
l2 = [1,2,3,4,56,5,8,8,8,9,9,64546,5,5,544,5,1251,55]

print("Now the merge list is:- ", l1+l2)

Now the merge list is:-  [1, 2, 3, 4, 5, 67, 8, 8, 8, 9, 9, 9455, 6, 67, 89, 45455, 677, 1, 2, 3, 4, 56, 5, 8, 8, 8, 9, 9, 64546, 5, 5, 544, 5, 1251, 55]

Q24:- Multiply all elements in a list by 2

In [46]:
l1 = [1,2,3,4,5,67,8,8,8,9,9,9455,6,67,89,45455,677]
l2= []
for i in l1:
    i= i*2
    l2.append(i)

print("Multiplied list is:- ",l2)

Multiplied list is:-  [2, 4, 6, 8, 10, 134, 16, 16, 16, 18, 18, 18910, 12, 134, 178, 90910, 1354]

Q25:- Filter out all even numbers from a list.

In [47]:
l1 = [1,2,3,4,5,67,8,8,8,9,9,9455,6,67,89,45455,677]
l2 = []
for i in l1:
    if i%2 == 0 :
        l2.append(i)
print("The Filter out all even numbers from a list are:-",l2)

The Filter out all even numbers from a list are:- [2, 4, 8, 8, 8, 6]

Q26:- Convert a list of strings to a list of integers.

In [4]:
l1 = list(input("Enter a list:- "))
print("Entered String list",l1)
res = [int(x) for x in l1]
    
print("Modified list is:",res)

Enter a list:-  123456789

Entered String list ['1', '2', '3', '4', '5', '6', '7', '8', '9']
Modified list is: [1, 2, 3, 4, 5, 6, 7, 8, 9]

Q27:- Convert a list of integers to a list of strings.

In [8]:
l1 = [1,2,3,4,5,6,7,8,9,10]
list_int= [str(i) for i in l1]

print("Modified list is:-",list_int)

Modified list is:- ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

Q28:- Flatten a nested list.

In [11]:
my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = [i for sublist in my_list for i in sublist]

print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

Q29:- Create a list of the first 10 Fibonacci numbers.

In [12]:
l1 =[]
for  i in range(0,11):
    if i ==0:
        l1.append(1)
    else

IndentationError: expected an indented block after 'else' statement on line 6 (2673151928.py, line 8)

In [ ]:
0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377.

Q30:- Check if a list is sorted.

In [48]:
l1 = [1, 2, 3, 4, 5, 6, 8, 8, 8, 9, 9, 67, 67, 89, 677, 9455, 45455]
l2 = [1,2,3,4,56,5,8,8,8,9,9,64546,5,5,544,5,1251,55]
k=l1 == l1.sort()
print(k)
if l1 == l1.sort():
    print("The list is sorted ")
elif l2 == l2.sort():
    print("The list2 is sorted ")
else:
    print("The list is not sorted")

False
The list is not sorted

Q31:- Rotate a list to the left by `n` positions.

In [3]:
test_list = [1, 4, 6, 7, 2]
n = int(input("Enter the position to the list by left:-"))
print("Original list:-" + str(test_list))

test_list = test_list[n:]+ test_list[:n]

print("List after left rotate by 3 : ", test_list)

Enter the position to the list by left:- 3

Original list:-[1, 4, 6, 7, 2]
List after left rotate by 3 :  [7, 2, 1, 4, 6]

32:- Rotate a list to the right by `n` positions.

In [4]:
test_list = [1, 4, 6, 7, 2]
n = int(input("Enter the position to the list by left:-"))
print("Original list:-" + str(test_list))

test_list = test_list[-n:]+ test_list[:-n]

print("List after left rotate by 3 : ", test_list)

Enter the position to the list by left:- 3

Original list:-[1, 4, 6, 7, 2]
List after left rotate by 3 :  [6, 7, 2, 1, 4]

33:- Create a list of prime numbers up to 50.

In [49]:
prime_numbers = []
for i in range(2,51):
    if i%2!=0:
        prime_numbers.append(i)
    elif i ==2  :
        prime_numbers.append(i)
print(prime_numbers)

[2, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

Q34:- Split a list into chunks of size `n`.

In [50]:
l1 =  [1,2,3,4,5,6,7,8,9]
for i in range(0,len(l1),3):
    x = i 
    print(l1[x:x+3])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

Q35:- Find the second largest number in a list.

In [51]:
l1 = [1,2,3,4,5,67,8,8,8,9,9,9455,6,67,89,45455,677]
l1.sort()
print("The second largest number in a list is ",l1[-2])

The second largest number in a list is  9455

Q36:- Replace every element in a list with its square.

In [52]:
l1 = [1,2,3,4,5,9,7,8,10]
l2 = []
for i in l1:
    i = i*i
    l2.append(i)
print("The replace of every element in a list ", l2 )

The replace of every element in a list  [1, 4, 9, 16, 25, 81, 49, 64, 100]

Q37:- Convert a list to a dictionary where list elements become keys and their
indices become values.

In [53]:
list_1 = ["Number","1,2,3,4,5,6","name ","ketan sharma"]
dict_1 = {}
for i in list_1:
    dict_1.update(i)
print(dict_1)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

Q38:- Shuffle the elements of a list randomly.

In [54]:
import random 

l1 = [1,2,3,4,5,67,8,8,8,9,9,9455,6,67,89,45455,677]
random.shuffle(l1)

print(l1)

[8, 4, 6, 677, 2, 9455, 45455, 9, 9, 8, 3, 1, 8, 67, 67, 5, 89]

Q39:- Create a list of the first 10 factorial numbers.

In [55]:
l = []
for i in range(1,11):
    i = i*

SyntaxError: invalid syntax (2259161100.py, line 3)

In [ ]:
for

Q40. Check if two lists have at least one element in common.

In [56]:
l1 = [1,2,3,4,5,67,8,9,9455,6,67,89,45455,677]
l2 = [4544464,56,5,42,2,1,15,45,888,8,]
count = 0 

for i in l1:
    if i in l2:
        count += 1
print("The number of elements common in the two list is:- ",count)

The number of elements common in the two list is:-  4

Q41:- Remove all elements from a list.

In [57]:
l1 = [1,2,3,4,5,67,8,9,9455,6,67,89,45455,677]
l1.clear()
print(l1)

[]

Q42:- Replace negative numbers in a list with 0.

In [58]:
l1 = [-1,-2,-3,4,5,67,8,9,9455,6,67,89,45455,677]
for i in l1:
    if i == -1:
        l1.remove(-1)
        l1.insert(0,0)
    elif i == -2:
        l1.remove(-2)
        l1.insert(1,0)
    elif i == -3:
        l1.remove(-3)
        l1.insert(2,0)
print(l1)

[0, 0, 0, 4, 5, 67, 8, 9, 9455, 6, 67, 89, 45455, 677]

Q43:- Convert a string into a list of words.

In [59]:
string = str(input("Enter a string :-"))
list_1= list(string.split())
print(list_1)

Enter a string :- Ketan Sharma

['Ketan', 'Sharma']

Q44:- Convert a list of words into a string.

In [66]:
l1 = ['Hey', 'Whatsupp', 'Pw', 'skills']
string = " ".join(l1)
print(string)

Hey Whatsupp Pw skills

Q45:-Create a list of the first `n` powers of 2.

In [67]:
l1 = []
for i in range(91,100):
    j= i**2
    l1.append(j)
print(l1)

[8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

Q46:- Find the longest string in a list of strings.

In [ ]:
l1 = ['Hey', 'Whatsupp', 'Pw', 'skills']
count= 0 
for i in l1:
    if i == "Hey":
        count = count+1
    elif =

Q47:-Find the shortest string in a list of strings.

In [15]:
string = str(input("Enter a string here:-"))
split = string.split()
res = len(min(split,key = len))
for ele in split:
    if len(ele)==res:
        print("The shortest string in a list of string is ",ele,"with minimum length of string",res)

Enter a string here:- Hey PW

The shortest string in a list of string is  PW with minimum length of string 2

Q48:- Create a list of the first `n` triangular numbers.

In [19]:
n = int(input("Enter the range of the triangular number:- "))
sum_1 = 0 
l =[]
for i in range(0,n+1):
    sum_1 = sum_1+i
    l.append(sum_1)
print("The list of the first",n,"triangular number is:-",l)

Enter the range of the triangular number:-  10

The list of the first 10 triangular number is:- [0, 1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

Q49:- Check if a list contains another list as a subsequence.

In [22]:
l1 = [1,2,3,4,5,67,8,9,9455,6,67,89,45455,677]
l2 = [4544464,56,5,42,2,1,15,45,888,8,]

for i in l1:
    if i in l2:
        print("l2 is a subsequence list")
        break
    else:
        print("l2is not a subsequence list")

l2 is a subsequence list

Q50:- Swap two elements in a list by their indices.

In [5]:
l1 = ['Hey', 'Whatsupp', 'Pw', 'skills']
for i in l1:
    if i == 0:
        l1.remove(i)
    elif i == 1:
        l1. remove(i)
        
print(l1)

['Hey', 'Whatsupp', 'Pw', 'skills']

Tuple Based Practice Problem :





1. Create a tuple with integers from 1 to 5.

In [6]:
t = (1,2,3,4,5)
print(t)
print(type(t))

(1, 2, 3, 4, 5)
<class 'tuple'>

2. Access the third element of a tuple.

In [7]:
t = (1,2,3,4,5)
print(t[3])

4

3. Find the length of a tuple without using the `len()` function.

In [8]:
t = (1,2,3,4,5)
count = 0 
for i in t:
    count = count+1
print("The length of a tuple is:- ",count)

The length of a tuple is:-  5

4. Count the occurrences of an element in a tuple.

In [9]:
t = (1,2,33,4,4,6,7,78,8,9,99,55,5,554656,66,6567,888,33,4,5,6,67,65,44,4,4,4,4)
count = int(input("Enter the element you want to count the occurence "))
occurence = t.count(count)
print("The occurence of",count, 'in a tuple is ',occurence)

Enter the element you want to count the occurence  33

The occurence of 33 in a tuple is  2

5. Find the index of the first occurrence of an element in a tuple.

In [11]:
t = (1,2,33,4,4,6,7,78,8,9,99,55,5,554656,66,6567,888,33,4,5,6,67,65,44,4,4,4,4)
occurrence = int(input('Write the first occurrence of an element in a tuple'))
index = t.index(occurrence)
print("The Index of the first occurrence of element",occurrence,'is',index)

Write the first occurrence of an element in a tuple 1

The Index of the first occurrence of element 1 is 0

6. Check if an element exists in a tuple.

In [12]:
t = (1,2,33,4,4,6,7,78,8,9,99,55,5,554656,66,6567,888,33,4,5,6,67,65,44,4,4,4,4)
element = int(input("Enter a element you want to search in a program"))
count = t.count(element)
if count == 0:
    print("The element does not exists in a tuple")
else:
    print("The element exists in a tuple")

Enter a element you want to search in a program 33

The element exists in a tuple

7. Convert a tuple to a list.

In [13]:
t = (1,2,33,4,4,6,7,78,8,9,99,55,5,554656,66,6567,888,33,4,5,6,67,65,44,4,4,4,4)
l1=list(t)
print(l1)
print(type(l1))

[1, 2, 33, 4, 4, 6, 7, 78, 8, 9, 99, 55, 5, 554656, 66, 6567, 888, 33, 4, 5, 6, 67, 65, 44, 4, 4, 4, 4]
<class 'list'>

8. Convert a list to a tuple.

In [14]:
l1 = [1, 2, 33, 4, 4, 6, 7, 78, 8, 9, 99, 55, 5, 554656, 66, 6567, 888, 33, 4, 5, 6, 67, 65, 44, 4, 4, 4, 4]
t2 = tuple(l1)
print(t2)

(1, 2, 33, 4, 4, 6, 7, 78, 8, 9, 99, 55, 5, 554656, 66, 6567, 888, 33, 4, 5, 6, 67, 65, 44, 4, 4, 4, 4)

9. Unpack the elements of a tuple into variables.

In [15]:
a = (1,2,3)
(x,y,z) = a

print(x)
print(y)
print(z)

1
2
3

10. Create a tuple of even numbers from 1 to 10.

In [16]:
t = []
for i in range(1,10):
    if i%2==0:
        t.append(i)
print(tuple(t))

(2, 4, 6, 8)

11. Create a tuple of odd numbers from 1 to 10.

In [17]:
t = []
for i in range(1,10):
    if i%2!=0:
        t.append(i)
print(tuple(t))

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [18]:
a = (1,2,3,4,5,6)
b = (7,8,9,10)
print(a+b)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

13. Repeat a tuple three times.

In [19]:
a = (1,2,3,4,5,6)*3
print(a)

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

14. Check if a tuple is empty.

In [21]:
t = tuple(input("Enter the value in the tuple"))
if t ==( ):
    print("The tuple is empty")
else:
    print("Tuple is not empty")
print(t)

Enter the value in the tuple 1234

Tuple is not empty
('1', '2', '3', '4')

15. Create a nested tuple.

In [22]:
t=(1,2,3,(4,5,6,7),8,9,10)
 #hence this is a nested tuple

16. Access the first element of a nested tuple.

t3=(1,2,3,(4,5,6,7),8,9,10)
print(t3[4,0])

17. Create a tuple with a single element.

In [24]:
t =("Hey")
print(t)

Hey

18. Compare two tuples.

In [25]:
t1 = (1,2,3,4,5,6,78,9)
t2 = (2,3,4,5,6,78,9)
t1==t2

False

19. Delete a tuple.

In [27]:
t1 = (1,2,3,4,5,6,78,9)

del t1
print(t1)  ## after deleting the tuple there is no name t1 is defined in the program.........

NameError: name 't1' is not defined

20. Slice a tuple.

In [28]:
t1 = (1,2,3,4,5,6,78,9)

print(t1[1])  # positive indexing
print(t1[-1]) # negative indexing

2
9

21. Find the maximum value in a tuple.

In [12]:
t1 = (1,2,3,4,5,6,78,9)

t1 = list(t1)
t1.sort()
max = t1[-1]
print("The maximum value in a tuple is:-", max)

The maximum value in a tuple is:- 78

22. Find the minimum value in a tuple.

23. Convert a string to a tuple of characters.

In [32]:
string = str(input("Enter a string here "))
t1 = tuple(string)
print(t1)

Enter a string here  Ketan Sharma

('K', 'e', 't', 'a', 'n', ' ', 'S', 'h', 'a', 'r', 'm', 'a')

24. Convert a tuple of characters to a string.

In [33]:
t2 = tuple(input("Enter characters of  string without any any commas:"))
print(t2)

string = ''.join(t2)
print("Now the converted characters of a tuple to string are :-",string)

Enter characters of  string without any any commas: Ketan Sharma

('K', 'e', 't', 'a', 'n', ' ', 'S', 'h', 'a', 'r', 'm', 'a')
Now the converted characters of a tuple to string are :- Ketan Sharma

25. Create a tuple from multiple data types.

In [33]:
# creating tuple from string
string = str(input("Enter a string:- "))
l1 = string.split()
l1 = tuple(l1)
print("tuple created from string",l1)

# Creating tuple from integer.
integer =input("Enter a integer:- ")
tup  = tuple(int(i) for i  in integer.replace('(', '').replace(')', '').replace('...', '').split())
print("tuple created from integer",tuple(integer))

#Creating tuple from list
l2 = [1,2,3,4,5,6,7]
l2 = tuple(l2)
print("Tuple created from string",l2)

Enter a string:-  hey p

tuple created from string ('hey', 'p')

Enter a integer:-  12345678

tuple created from integer ('1', '2', '3', '4', '5', '6', '7', '8')
Tuple created from string (1, 2, 3, 4, 5, 6, 7)

26. Check if two tuples are identical.

In [34]:
t1 = (1,2,3,4,5,6,7,8)
t2 =(1,2,3,4,5,6,7,8)

if t1 == t2:
    print("Both the tuples are identical.")
else:
    print("Tuples are not identical at all.")

Both the tuples are identical.

27. Sort the elements of a tuple.

In [35]:
t1 = (1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)
t1 =list(t1)
t1.sort()
t1 = tuple(t1)
print("now the sorted tuple is ",t1)
print(type(t1))

now the sorted tuple is  (1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 6)
<class 'tuple'>

28. Convert a tuple of integers to a tuple of strings.

In [44]:
integer = (1,2,3,5,6,78,90)
tup  = tuple(str(i) for i  in integer)
print("tuple of integer converted to a tuple of strings:- ", tup)

tuple of integer converted to a tuple of strings:-  ('1', '2', '3', '5', '6', '78', '90')

29. Convert a tuple of strings to a tuple of integers.

In [47]:
string_tup = ('1', '2', '3', '5', '6', '78', '90')
tup = tuple(int(i) for i in string_tup)
print("tuple of string converted to a tuple of integers:- ",tup)

tuple of string converted to a tuple of integers:-  (1, 2, 3, 5, 6, 78, 90)

30. Merge two tuples.

In [48]:
t1 = (1,2,3,4,5,6,7,8)
t2 =(1,2,3,4,5,6,7,8)

t1 = list(t1)
t2 = list(t2)
t3 = t1+t2
t3 = tuple(t3)
print(t3)

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)

31. Flatten a nested tuple.

In [55]:
my_tup = ((1), (2, 3), (4, 5, 6, 7))
my_tup = list(my_tup)

tup = [i for sublist in my_tup for i in sublist]

print()

TypeError: 'int' object is not iterable

32. Create a tuple of the first 5 prime numbers.

In [62]:
l1 = []
for i in range(2,10):
    if i==2:
        l1.append(i)
    else:
        if i%2!= 0:
            l1.append(i)
l1 = tuple(l1)
print("The tuple of the first 5 prime numbers is ",l1)

The tuple of the first 5 prime numbers is  (2, 3, 5, 7, 9)

33. Check if a tuple is a palindrome.

In [37]:
t2 = tuple(input("Enter a tuple without commas:-"))
print("your entered tuple is",t2)
string = ''.join(t2)
if string == string[::-1]:
    print("Tuple is a palindrome")

else:
    print("Tuple is not a palindrome")

Enter a tuple without commas:- civic

your entered tuple is ('c', 'i', 'v', 'i', 'c')
Tuple is a palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [38]:
tup = ()
for i in range(1,6):
    tup = tup + (i**2,)
print("The tuple of square of numbers from 1 to 5:-",tup)

The tuple of square of numbers from 1 to 5:- (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [3]:
n = int(input("Enter the range to filter out all the even number from a tuple:- "))
l = []
for i in range(0,n+1):
    if i%2 ==0:
        l.append(i)
l = tuple(l)
print("all even numbers from a tuple are:- ",l)

Enter the range to filter out all the even number from a tuple:-  12

all even numbers from a tuple are:-  (0, 2, 4, 6, 8, 10, 12)

36. Multiply all elements in a tuple by 2.

In [ ]:
t1 = (1,2,3,4,5,6)
d1= list(t1)
for i in d1:
    i = i*2
    d1.append(i)
d1 = tuple(d1)
print(d1)

37. Create a tuple of random numbers.

In [40]:
import random 
t1 = []
for i in range(0,10):
    t1.append(random.random())
t1 = tuple(t1)
print(t1)

(0.5557063365607803, 0.9984024704611058, 0.008826616855228675, 0.08165973837029161, 0.44583631452858896, 0.5523428211313857, 0.40008598442194077, 0.05593631900471918, 0.8325604395683707, 0.8865335084837112)

38. Check if a tuple is sorted.

In [41]:
t1 = (1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)
u1 = t1 = list(t1)
ascending = t1
descending = u1
if ascending == t1.sort():
    print("The tuple is sorted in ascending order.")
elif descending ==t1.sort(reverse = True):
    print("The tuple is sorted in descending order.")
else:
    print("The Tuple is not sorted")

The Tuple is not sorted

39. Rotate a tuple to the left by `n` positions.

In [6]:
tup_1 = (1,2,3,4,5,6,78,8,9,9)
n = int(input("Enter the position to the tuple by left:-"))
print("original Tuple:-" + str(tup_1))

tup_1 = tup_1[n:]+ tup_1[:n]
print("Tuple after left rotate by ",n,":-" ,tup_1)

Enter the position to the tuple by left:- 4

original Tuple:-(1, 2, 3, 4, 5, 6, 78, 8, 9, 9)
Tuple after left rotate by 3:  (5, 6, 78, 8, 9, 9, 1, 2, 3, 4)

40. Rotate a tuple to the right by `n` positions.

In [7]:
tup_1 = (1,2,3,4,5,6,78,8,9,9)
n = int(input("Enter the position to the tuple by left:-"))
print("original tuple:-" +str(tup_1))


tup_1 = tup_1[-n:]+ tup_1[:-n]
print("Tuple after right rotate by",n,":-",tup_1)

Enter the position to the tuple by left:- 5

original tuple:-(1, 2, 3, 4, 5, 6, 78, 8, 9, 9)
Tuple after right rotate by 5 :- (6, 78, 8, 9, 9, 1, 2, 3, 4, 5)

41. Create a tuple of the first 5 Fibonacci numbers.

42. Create a tuple from user input.

In [43]:
## A tuple from integer user input

user_input = input("Enter space separated integer:-")
my_tup = tuple(int(items)for items in user_input.split())
print(my_tup)

Enter the elements of tuple without commas:-  123456789

('1', '2', '3', '4', '5', '6', '7', '8', '9')

Enter space separated integer:- 1 2 3 4 5 67 8

(1, 2, 3, 4, 5, 67, 8)

43. Swap two elements in a tuple.

44. Reverse the elements of a tuple.

In [46]:
t1 = (1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)
t1 = list(t1)
rev = t1.reverse()
t1 = tuple(t1)
print(t1)
print(type(t1))

(6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1, 6, 5, 4, 3, 2, 1)
<class 'tuple'>

45. Create a tuple of the first `n` powers of 2.

In [8]:
n = int(input("Enter the range for the n powes of 2:- "))
l = []
for i in range(0,n+1):
    i = i**2
    l.append(i)
l = tuple(l)
print("The tuple of the first'n' powers of 2",l)

Enter the range for the n powes of 2:-  5

The tuple of the first'n' powers of 2 (0, 1, 4, 9, 16, 25)

46. Find the longest string in a tuple of strings.

47. Find the shortest string in a tuple of strings.

48. Create a tuple of the first `n` triangular numbers.

In [35]:
n = int(input("Rnter a range for triangular numbers:-"))
l = []
sum_1 = 0
for i in range(0,n+1):
    sum_1= sum_1+i
    l.append(sum_1)
l = tuple(l)
print("The tuple of the first",n,"triangular numbers is :-",l)

Rnter a range for triangular numbers:- 10

The tuple of the first 10 triangular numbers is :- (0, 1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

49. Check if a tuple contains another tuple as a subsequence.

50. Create a tuple of alternating 1s and 0s of length `n`.

Set Based Practice Problem :





1. Create a set with integers from 1 to 5.

In [48]:
s1= input("Enter the integer separated with space:-")
my_set = set(int(items)for items in s1.split())
print(my_set)

Enter the integer separated with space:- 1 2 34 5 6

{1, 2, 34, 5, 6}

2. Add an element to a set.

In [50]:
s1= input("Enter the integer separated with space:-")
my_set = set(int(items)for items in s1.split())
add = int(input("Enter the element you want to add in the integer form:-"))
my_set.add(add)
print(my_set)

Enter the integer separated with space:- 12 45 6
Enter the element you want to add in the integer form:- 4

{4, 12, 45, 6}

3. Remove an element from a set.

In [51]:
s1 = input("Enter the integer separated with space:-")
my_set = set(int(items)for items in s1.split())
print(my_set)
remove = int(input("Enter the elment you want to remove in the integer form:-"))
my_set.remove(remove)
print(my_set)

Enter the integer separated with space:- 1 2 3  4 5 6 7 8

{1, 2, 3, 4, 5, 6, 7, 8}

Enter the elment you want to remove in the integer form:- 8

{1, 2, 3, 4, 5, 6, 7}

4. Check if an element exists in a set.

In [53]:
s1 = input("Enter the integer separated with space:-")
my_set = set(int(items)for items in s1.split())
print(my_set)
element = int(input("Enter the integer element to check it exists or not:-"))
if element in my_set:
    print("The element exists in a set.")
else:
    print("The element does not exists in a set.")

Enter the integer separated with space:- 1 2 3  4 5 6 78

{1, 2, 3, 4, 5, 6, 78}

Enter the integer element to check it exists or not:- 78

The element exists in a set.

5. Find the length of a set without using the `len()` function.

In [2]:
s1 = input("Enter the integer separated with space:-")
my_set = set(int(items)for items in s1.split())
count = 0 
for i in my_set:
    count = count+1
print("The length of a set is:- ",count)

Enter the integer separated with space:- 1 2 3 4 5 6 7 8 9 90

The length of a set is:-  10

6. Clear all elements from a set.

In [54]:
s1= {65, 1, 36, 12, 52}
s1.clear()
print(s1)

set()

7. Create a set of even numbers from 1 to 10.

In [4]:
l = []
for i in range(1,11):
    if i%2 ==0:
        l.append(i)
l = set(l)
print("A set of even numbers from 1 to 10:- ",l)

A set of even numbers from 1 to 10:-  {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [5]:
l = []
for i in range(1,11):
    if i%2 !=0:
        l.append(i)
l = set(l)
print("A set of odd numbers from 1 to 10:- ",l)

A set of odd numbers from 1 to 10:-  {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [55]:
s1 = {1,2,3,4,5,6,78,9}
s2 = {1,2,3,4,5,69,59}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 9, 59, 69, 78}

10. Find the intersection of two sets.

In [56]:
s1 = {1,2,3,4,5,6,78,9}
s2 = {1,2,3,4,5,69,59}
intersect = s1.intersection(s2)
print(intersect)

{1, 2, 3, 4, 5}

11. Find the difference between two sets.

In [57]:
s1 = {1,2,3,4,5,6,78,9}
s2 = {1,2,3,4,5,69,59}
difference = s2.difference(s1)
print(difference)

{59, 69}

12. Check if a set is a subset of another set.

In [58]:
s1 = {1,2,3,4,5,6,78,9}
s2 = {1,2,3,4,5,6}
subset = s2.issubset(s1)
if subset == True:
    print("yes s2 set is a subset of s1 set")
else:
    print("No subset")

yes s2 set is a subset of s1 set

13. Check if a set is a superset of another set.

In [18]:
y = {1,2,3,4,5,6}
x = {1,2,3,4}

if x in y:
    if len(x)< len(y):
        print("Hence Y is the superset of X")

14. Create a set from a list.

In [14]:
l1 = [1,2,3,4,5,6]
l1 = set(l1)
print(l1)

{1, 2, 3, 4, 5, 6}

15. Convert a set to a list.

In [15]:
s1 = {1,2,3,4,5,6}
s1 = list(s1)
print(s1)

[1, 2, 3, 4, 5, 6]

16. Remove a random element from a set.

In [8]:
import random
my_set = {1,2,3,4,5,6,7,8,9,10,11,12,13,14,15}

sampled_item = random.sample(list(my_set), 1)[0]
my_set.remove(sampled_item)

17. Pop an element from a set.

In [5]:
s1 = {1,2,3,4,5,6}
s1.pop()
print(s1)

{2, 3, 4, 5, 6}

18. Check if two sets have no elements in common.

In [13]:
s1 = {1,2,3,4,5,67,}
s2 = {25,37,47,57,68,9,8}
if s1.isdisjoint(s2)==True:
    print("s1 and s2 sets have no elements in common")
else:
    print("s1 and s2 sets have elements in common")

s1 and s2 sets have no elements in common

19. Find the symmetric difference between two sets.

In [15]:
set_A = {1, 2, 3, 4, 5}
set_B = {6, 7, 3, 9, 4}

print(set_A.symmetric_difference(set_B))

{1, 2, 5, 6, 7, 9}

20. Update a set with elements from another set.

In [17]:
set_A = {1, 2, 3, 4, 5}
set_B = {6, 7, 3, 9, 4}

set_A = list(set_A)
set_B = list(set_B)
set_c = set_A +set_B

set_c = set(set_c)
print(set_c)

{1, 2, 3, 4, 5, 6, 7, 9}

21. Create a set of the first 5 prime numbers.

22. Check if two sets are identical.

In [65]:
s1 = {1,2,3,4,5,6,78,9}
s2 = {1,2,3,4,5,69,59}
if s1 ==s2:
    print("Two sets are identical")
else:
    print("Sets are not identical")

Sets are not identical

23. Create a frozen set.

In [18]:
s_1 = {1,2,3,4,5,6,7,8,90}
frozen_set = frozenset(s_1)
print(frozen_set)

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 90})

24. Check if a set is disjoint with another set.

In [19]:
s1 = {1,2,3,4,5,67,}
s2 = {25,37,47,57,68,9,8}
if s1.isdisjoint(s2)==True:
    print("s1 and s2 sets are disjoint set")
else:
    print("s1 and s2 sets are not disjoint set ")

s1 and s2 sets are disjoint set

25. Create a set of squares of numbers from 1 to 5.

In [21]:
l1 = []
for i in range(1,6):
    i = i**2
    l1.append(i)
l1 = set(l1)

print("A set of squares of numbers from 1 to 5 is:-",l1)

A set of squares of numbers from 1 to 5 is:- {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [66]:
my_set = {1,3,4,56,67,89,35,7,8,9,10,11,12,13,14,15,16}
l1 = []
for i in my_set:
    if i%2==0:
        l1.append(i)
l1 = set(l1)
print(l1)

{4, 8, 10, 12, 14, 16, 56}

27. Multiply all elements in a set by 2.

In [67]:
my_set = {1,3,4,56,67,89,35,7,8,9}
l1= []
for i in my_set:
    i = i*2
    l1.append(i)
l1 = set(l1)
print(l1)

{2, 70, 134, 8, 6, 14, 16, 112, 18, 178}

28. Create a set of random numbers.

In [3]:
import random 
n = random.randint(0,22)
n = set(n)

TypeError: 'int' object is not iterable

29. Check if a set is empty.

In [8]:
s_1 = {}

if s_1 == {}:
    print("The set is an empty set")
else:
    print("The set is not an empty set")

The set is an empty set

30. Create a nested set (hint: use frozenset).

31. Remove an element from a set using the discard method.26. Filter out all even numbers from a set.

32. Compare two sets.

In [9]:
s_1 = {1,2,3,45,5}
s_2 = {12,34,545}

if s_1 == s_2:
    print("These are equal sets")
else:
    print("These are not equal sets")

These are not equal sets

33. Create a set from a string

In [16]:
string = str(input("Enter a string here:-"))
res = string.split()
res =set(res)
print(res)

Enter a string here:- Ketan Sharma

{'Ketan', 'Sharma'}

34. Convert a set of strings to a set of integers.

35. Convert a set of integers to a set of strings.

36. Create a set from a tuple.

In [31]:
t_1 = (1,2,3,4,54,666666666666)
t_1 = set(t_1)
print(t_1)

{1, 2, 3, 4, 666666666666, 54}

37. Convert a set to a tuple.

In [32]:
s_1 = {1,2,4,4,5,6,7}

s_1 = tuple(s_1)
print(s_1)

(1, 2, 4, 5, 6, 7)

38. Find the maximum value in a set.

In [19]:
s_1 = {14,24,435,648,45,46,73,84,9}
s_1 = list(s_1)
s_1.sort()
maxi = s_1[-1]
s_1 = set(s_1)
print("The maximum value in a set is:-",maxi)

The maximum value in a set is:- 648

39. Find the minimum value in a set.

In [20]:
s_1 = {14,24,435,648,45,46,73,84,9}
s_1 = list(s_1)
s_1.sort(reverse = True)
mini = s_1[-1]
s_1 = set(s_1)
print("The maximum value in a set is:-",mini)

The maximum value in a set is:- 9

40. Create a set from user input.

In [27]:
s_t = input("Enter a set here:-")
s_t = set(int(i) for i in s_t.split())
print(s_t)

Enter a set here:- 1 2 4 5  56 98

{1, 2, 98, 4, 5, 56}

41. Check if the intersection of two sets is empty.

In [30]:
s_1 = {1}
s_2 = {}
intersection = s_1.intersection(s_2)
if intersection == set():
    print("The interection of two sets is empty")
else:
    print("The interection of two sets is not empty")

The interection of two sets is empty

42. Create a set of the first 5 Fibonacci numbers.

43. Remove duplicates from a list using sets.

In [68]:
l1 = [11,2,3,11,4,4,5,5,7,7,7,9,10]
l1 = set(l1)
print("hence all the duplicates are removed from the list and it is converted into set",l1)

hence all the duplicates are removed from the list and it is converted into set {2, 3, 4, 5, 7, 9, 10, 11}

44. Check if two sets have the same elements, regardless of their count.

In [ ]:
s1 = {1,2,3,4,5,7,8,9}
s2 = {1,2,3,4,5,6,7}

for i in s1:
    if :
        print()

45. Create a set of the first `n` powers of 2.

In [ ]:
n = int(input("Enter the range for the first 'n' powers of 2:-"))
l1 = []
for i  in range(0,n+1):

46. Find the common elements between a set and a list.

In [3]:
s1 ={1,2,3,4,5,6,7,89,9}
l1 = [1,2,3,4,5,89,345,67,78]
l2 = []
for i in l1:
    if i in s1:
        l2.append(i)
l2 = set(l2)
print("The common elements between a set and a list is:-",l2)

The common elements between a set and a list is:- {1, 2, 3, 4, 5, 89}

47. Create a set of the first `n` triangular numbers.

In [27]:
n = int(input("Enter the range for the first 'n' triangular number:- "))
sum_1 = 0
l = []
for i in range(0,n+1):
    sum_1 = sum_1+i
    l.append(sum_1)

l = set(l)
print("The set is here:- ",l)

Enter the range for the first 'n' triangular number:-  10

The set is here:-  {0, 1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

In [28]:
n = int(input("Enter the range of the triangular number:- "))
sum_1 = 0 
l =[]
for i in range(0,n+1):
    sum_1 = sum_1+i
    l.append(sum_1)
print("The list of the first",n,"triangular number is:-",l)

Enter the range of the triangular number:-  10

The list of the first 10 triangular number is:- [0, 1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

48. Check if a set contains another set as a subset.

In [69]:
s1 = {1,2,3,4,5,6,78,9}
s2 = {1,2,3,4,5,6}
subset = s2.issubset(s1)
if subset == True:
    print("yes s2 set is a subset of s1 set")
else:
    print("No subset")

yes s2 set is a subset of s1 set

49. Create a set of alternating 1s and 0s of length `n`.

In [36]:
l1 = []
n = int(input("Enter the range :- "))

for  i in range(0,n+1):
    alter = i%2
    l1.append(alter)
    
l1 = set(l1)

print("set of alternating 1s and 0s of length",n,"is",l1)

Enter the range :-  10

set of alternating 1s and 0s of length 10 is {0, 1}

50. Merge multiple sets into one.

In [20]:
s1 = {1,2,3,4,5,6,78,9}
s2 = {1,2,3,4,5,6}
s1 = list(s1)
s2 = list(s2)
s3 = s1+s2
s3 = set(s3)
print(s3)

{1, 2, 3, 4, 5, 6, 9, 78}