Assignment Questions
Basic Level:

Q1:- Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [1]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

Q2:- Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [6]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l2 = []
for i in l1:
    l1 = l2.append(i)
    i = i+1
print(sum(l2))

55

Q3:- Write a program to print the characters of a string in reverse order using a `for` loop.

In [27]:
string = str(input("Enter a string "))
i=0
for i in string:
    rev= string[::-1]
    
print(rev)

Enter a string  hey whats your name

eman ruoy stahw yeh

Q4:- Develop a program that finds the factorial of a given number using a `for` loop.

In [51]:
num = int(input("Enter a number to find a factorial "))
fact = 0 
f

Enter a number to find a factorial  1

1
1

 Q5:- Create a program to print the multiplication table of a given number using a `for` loop

In [27]:
num = int(input("Enter the number for which you want the table:- "))
i = 0
for i in range(0, 11):
    multiply = num*i
    print(multiply)

Enter the number for which you want the table:-  5

0
5
10
15
20
25
30
35
40
45
50

Q6:- Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [25]:
l1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
even_count, odd_count = 0, 0 
for i in range(0,17):
    if i%2==0:
        even_count += 1
    else:
        odd_count += 1
        
print("The count of odd numbers in a list is ", odd_count)
print("The count of even nymbers in a list is ", even_count)

The count of odd numbers in a list is  8
The count of even nymbers in a list is  9

Q7:- Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [43]:
num = int(input("Enter a number from 1 to 5 to get square:- "))
i = 0 
for i in range(0,num+1):
    square = i*i
    i +=1
    print(square)

Enter a number from 1 to 5 to get square:-  5

0
1
4
9
16
25

Q8:- Create a program to find the length of a string without using the `len()` function.

In [40]:
string = str(input("Enter a string :- "))
count = 0 
for i in string:
    count= count+1
print(count)

Enter a string :-  Hey whatsupp

12

Q9:- Write a program that calculates the average of a list of numbers using a `for` loop.

In [48]:
l1 = [1,2,3,4,5,6,7,8,9,10,11,12]
i = 0
count =  0
for i in l1:
    count = count+1
print("The average of the list is:- ",sum(l1)/count)

The average of the list is:-  6.5

Q10:-  Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [4]:
n = int(input("Enter the number of terms:- "))
a = 0
b = 1
print(a)
print(b)
for i in range(n+1):
    c = a+b
    print(c)
    a , b=b, c

Enter the number of terms:-  5

0
1
1
2
3
5
8
13

Intermediate Level:
    
    
    

Q11:- Write a program to check if a given list contains any duplicates using a `for` loop.

In [56]:
l1 = [1,1,2,3,4,5,67,7,7,8,9,10]
unique_list = []
duplicate_list = []
for i in l1:
    if i not in unique_list:
        unique_list.append(i)
    elif i not in duplicate_list:
        duplicate_list.append(i)

print("This list contains duplicate elements ", duplicate_list)
print("And the unique list is ",unique_list )

This list contains duplicate elements  [1, 7]
And the unique list is  [1, 2, 3, 4, 5, 67, 7, 8, 9, 10]

Q12:- Create a program that prints the prime numbers in a given range using a `for` loop.

In [69]:
for i in range(2,100):
    if i== 2:
        print(2)
    elif i%2 != 0 :
        print(i,end = " ")

2
3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

Q13:- Develop a program that counts the number of vowels in a string using a `for` loop.

In [79]:
string = str(input("Enter a string here:- "))
vowels = ["a","e","i","o","u",'A','E','I','O','U']
count = 0
for i in string:
    if i in vowels:
        count= count+1
print("The number of vowels present in a string are:- ", count)

Enter a string here:-  Good Morning Everybody my name is Ketan Sharma

The number of vowels present in a string are:-  14

Q14:- Write a program to find the maximum element in a 2D list using a nested `for` loop.

Q15:- Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [6]:
l1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,1,16,84,15,423,2,2,2,2,3,3,3,5,5,5,]
remove= 2
count= 0 
for i in l1:
    if i == 2 in l1:
        l1.remove(remove)
print(l1)

[1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 1, 16, 84, 15, 423, 2, 2, 3, 3, 3, 5, 5, 5]

Q16:-Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [18]:
for i in range(1,6):
    for j in range(1,11):
        print(i*j, end = " " )
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50

Q17:- Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [24]:
fahrentemp_list= [30.2,32.0,33.8,35.6,21.2,23.0]
celsius_list = []
for i in fahrentemp_list:
    i = (i-32)*0.5
    celsius_list.append(i)
print("The celcius temperature list is here:- ",celsius_list)

The celcius temperature list is here:-  [-0.9000000000000004, 0.0, 0.8999999999999986, 1.8000000000000007, -5.4, -4.5]

Q18:- Create a program to print the common elements from two lists using a `for` loop.

In [31]:
l1 = [1,1,1,2,2,2,3,3,3,4,4,4,5,6,7,8,9,5,1,64,4,4654564,6545644,11,56,456,4,64]
l2 = [1,1,1,2,2,2,3,3456456,45,5,56,8,5,56,1,565,61,656,664,652,22,48,1]
common_list= []
for i in l1:
    if i in l2:
        common_list.append(i)
    elif i in l1:
        common_list.append(i)
    elif i in common_list:
        common_list.append(i)
print(common_list)

[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 6, 7, 8, 9, 5, 1, 64, 4, 4654564, 6545644, 11, 56, 456, 4, 64]

Q19:- Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern.

In [37]:
for i in range(5):
    for j in range(i+1):
        print("*",end =" ")
    print()

*
* *
* * *
* * * *
* * * * *

Q20:- Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [18]:
num1 = 36
num2 = 59
gcd = 1
for i in range(1,min(num1,num2)):
    if num1%i ==0 and num2%i ==0:
        gcd = i 
print("GCD of",num1,"and",num2,"is",gcd)

GCD of 36 and 59 is 1

Advanced Level:

 

Q21:- Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [8]:
l1 = [1,2,3,4,5,6,7,8,9,10]

l1 = [i for i in l1 ]
print(sum(l1))

55

Q22:- Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [16]:
n = int(input("Enter the range to find the prime numbers:- "))

prime = [int(i) for i in range(0,n+1) if i==2 ]

print(prime)

Enter the range to find the prime numbers:-  10

[0, 2, 4, 6, 8, 10]

Q23:- Develop a program that extracts unique elements from a list and stores them in a new list using a list comprehension.

In [4]:
l1 = [1,2,3,4,5,6,7,8,9,1,1,2,5,3,6]
unique_list = [i for i in l1  if i not in l1]
print(unique_list)

[]

Q24:- Create a program that generates a list of all palindromic numbers up to a specified limit using a list comprehension.

Q25:- Write a program to flatten a nested list using list comprehension.

In [22]:
l1 = [[1], [2, 3], [4, 5, 6, 7]]
flat_list = [num for sublist in l1 for num in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

Q26:- Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.

In [9]:
l1 = [1,2,3,4,5,6,7,8,9,1,1,2,5,3,6]

even_sum = sum([i for i in l1 if i%2 ==0])
odd_sum = sum([i for i in l1 if i%2!=0])
print("even_sum =", even_sum,"odd_sum =",odd_sum)

even_sum = 28 odd_sum = 35

Q27:- Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [21]:
square_list = [i for i in range(1,11) if i%2!=0 ]
print(square_list)

[1, 3, 5, 7, 9]

Q28:- Write a program that combines two lists into a dictionary using list comprehension.

In [11]:
keys = ["Ketan" ,"Pooja","Diksha","Riya"]
values = [1,2,3,4]

dictionary = {keys[i]:values[i] for i in range(len(keys))}


print(dictionary)

{'Ketan': 1, 'Pooja': 2, 'Diksha': 3, 'Riya': 4}

Q29:- Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [13]:
string = str(input("Enter the string:- "))
vowels = ["a","i","e","o","u","A","I","E","O","U"]
l1 = []
my_list = [str(i) for i in string if i in vowels ]
print("The extracted vowels from the string:-",my_list)

Enter the string:-  Hey Whatsupp

The extracted vowels from the string:- ['e', 'a', 'u']

Q30:- Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [30]:
import re
user_input = str(input("Enter the string:-"))
removed = re.sub(r'[^0-9]','',user_input)
print(removed)

Enter the string:- ketan323

323

Challenge Level:

 

Q31:- Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list comprehension.

Q32:- Create a program that generates a list of all Pythagorean triplets up to a specified limit using list comprehension.

In [20]:
n = int(input('Enter the value of n: '))
triplets = [(a, b, c) for a in range(1, n + 1) for b in range(a, n + 1) for c in range(b, n + 1) if a**2 + b**2 == c**2]
print("The Pythagoreas triplets are:-",triplets)

Enter the value of n:  9

The Pythagoreas triplets are:- [(3, 4, 5)]

Q33:- Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [9]:
keys = ["Ketan" ,"Pooja","Diksha","Riya"]
values = [1,2,3,4]
list_1 = [(x,y)for x in keys for y in values]
print(list_1)

[('Ketan', 1), ('Ketan', 2), ('Ketan', 3), ('Ketan', 4), ('Pooja', 1), ('Pooja', 2), ('Pooja', 3), ('Pooja', 4), ('Diksha', 1), ('Diksha', 2), ('Diksha', 3), ('Diksha', 4), ('Riya', 1), ('Riya', 2), ('Riya', 3), ('Riya', 4)]

Q34:- Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension.

In [16]:
import statistics

list_number = [1,2,3,4,5,6,7,8,9,10]
mean = sum([i for i in list_number ])
print("Mean of the numbers is :-",mean/2)
median = statistics.median(list_number)
print("Mean of the numbers is :-",median)

mode = statistics.mode(list_number)
print("Mode of the number is :-",mode)

Mean of the numbers is :- 27.5
Mean of the numbers is :- 5.5
Mode of the number is :- 1

Q35:- Create a program that generates Pascal's triangle up to a specified number of rows using list
comprehension.

Q36:- Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list comprehension.

In [12]:
import math

factorial = [math.factorial(n) for n in range(5)]
sum_factorial = sum([math.factorial(n) for n in range(5)])

print(factorial)
print(sum_factorial)

[1, 1, 2, 6, 24]
34

Q37:- Write a program that finds the longest word in a sentence using list comprehension.

Q38:- Create a program that filters a list of strings to include only those with more than three vowels using list comprehension.

In [7]:
import re
user_list = ["mango", "kiwi", "strawberry", "guava", "pineapple", "mandarin orange"]
vowels = [i for i in user_list if len(re.sub('[^aeiouAEIOU]','',i))>3]
print(vowels)

['pineapple', 'mandarin orange']

Q39:- Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
comprehension.

In [7]:
n = int(input("Enter the range:- "))
my_list = sum([int(i) for i in range(n+1)])
print(my_list)

Enter the range:-  12000

72006000

Q40:- Write a program that generates a list of prime palindromic numbers using list comprehension.